body {
  font-family: 'Rubik', sans-serif;
  background-color: #F0F2F3;
}

.small {
  font-weight: 300;
  font-style: italic;
}

.hero {
  width: 100%;
}

.hero .hero_text {
  margin-top: 100px;
}

.search-form {
  display:inline-flex;
  background-color: whitesmoke;
  margin-top: 50px;
  margin-left: 2.5%;
  height: 100px;
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-field {
  margin-left: 300px;
  margin-top: 30px;
  width: 250px;
  height: 40px;
}

.btn {
  height: 40px;
  width: 150px;
  margin-left: 50px;
  margin-top: 30px;
}

.Results {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.jobResults {
  font-size: x-large;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

h4 {
  padding: 50px;
}

.card {
  width: 400px;
  margin-left:50px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  border: none;
}