* {
  font-family: Arial, Helvetica, sans-serif;
}

h1
h2 
h3
h4
h5{
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: 'Rubik', sans-serif;
  /* font-family: 'Roboto Slab', serif; */
  background-color: #F0F2F3;
}

.Navbar{
  height: 90px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.small {
  font-weight: 300;
  font-style: italic;
}

.hero {
  width: 100%;
}

.hero .hero_text {
  margin-top: 100px;
}

.search-form {
  display:inline-flex;
  background-color: whitesmoke;
  margin-top: 40px;
  margin-left: 2.5%;
  height: 100px;
  width: 95%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-field {
  margin-left: 300px;
  margin-top: 30px;
  width: 250px;
  height: 40px;
}

.searchbtn {
  height: 35px;
  width: 150px;
  margin-left: 50px;
  margin-top: 30px;
  background: #385E72;
  color: 'white';
}

.Results {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.jobResults {
  font-size: x-large;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.card {
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-header {
  border: none;
}

.jobPage {
  margin-top: 50px;
}

.jobForm {
  padding: 100px;
  width: 1000px;
  margin-left: 100px;
}

.submitbtn {
  height: 35px;
  width: 150px;
  margin-top: 30px;
}

.btn {
  width: 150px;
  height: 35px;
  background: #385E72;
  color: 'white';
}

i {
  padding-left: 5px;
}

.applicants {
  margin-top: 75px;
  margin-left: 160px;
}
